html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
canvas {
    display: block;
}

h1, h2{
    color: rgb(43, 255, 82);
    text-align: center;
}

h3{
    color: rgb(139, 129, 255);
    text-align: center;
}
ul{
    color: rgb(255, 216, 0);
    font-size: 18px;
    line-height: 1.5;}

main{
    background-color: rgb(74, 46, 33);
    padding: 20px;
    margin: 20px;
    border-radius: 50px;
}

a:hover{
    color: rgb(145, 255, 0);
}
a {
    display:block;
    text-align: center;
    padding-bottom: 10vh;
}

img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: auto;
    border-radius: 150px;
}

p{
    display: block;
    color: rgb(255, 54, 125);
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    line-height: 2em;
    background-color: rgb(40, 11, 3, 50%);
    border-radius: 35px;
    padding: 0vh 5vw;
    margin: 2vw;
}

selector {

}

/*
Types of Selectors:
Element Selectors: p, h1, h2
ID Selectors: #id-name
Class Selectors: .class-name
Attribute Selectors: img=["src"]
Pseudo-class Selectors: a:hover
*/