html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
canvas {
    display: block;
}

h1, h2{
    color: rgb(43, 255, 82);
    text-align: center;
}

h3{
    color: rgb(139, 129, 255);
    text-align: left;
}

main{
    background-color: rgb(74, 46, 33);
    padding: 40px;
    margin: 20px;
    border-radius: 75px;
}

a:hover{
    color: rgb(201, 55, 10);
}
a {
    display:block;
    text-align: center;
    padding-bottom: 10px;
}

img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
}

selector {

}

/*
Types of Selectors:
Element Selectors: p, h1, h2
ID Selectors: #id-name
Class Selectors: .class-name
Attribute Selectors: img=["src"]
Pseudo-class Selectors: a:hover
*/